/* 

*/

.btn-login {
    background-color: #1b903e;
    border: 1px solid #1b903e;
}

.btn-login:hover {
    background-color: #4bb40e;
    border: 1px solid #4bb40e;
}

.btn-primary-cust {
    background-color: #26af48;
    border: 1px solid #26af48;
}

.img-profil {
    width: 1rem;
    height: 2rem;
    border-radius: 50%;
}

ul.log-lang {
    border: 1px solid transparent;
    text-align: center;
    padding: 0;
}

ul.log-lang li {
    border: 1px solidt transparent;
    display: inline-block;
}